.num-page{
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.num-page-item-arrow{
    border: solid 1px black;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.num-page {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.num-page-item {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 5px;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.num-page-item:hover,.num-page-item-arrow-enable:hover {
    background-color: var(--primary-color);
}

.num-page .num-page-item a {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black-color);
}
.num-page-item.active{
    background: #f8b452;
}